<div id="event">
  <%= form_for @event, html: {class: "event-form"} do |f| %>
    <%= render "shared/errors_messages", object: @event %>

    <div class="form-action">
      <%= link_to go_back_link, title: t("events.buttons.go_back"),
        class: "btn btn-go-back" do %>
        <i class="go-back"></i>
      <% end %>

      <button class="btn btn-save <%= "btn-confirmation-repeat" if @event.exist_repeat? && !@event.edit_only? %>" type=<%= @event.exist_repeat? && !@event.edit_only? ? "button" : "submit" %>>
        <%= t("events.buttons.save") %>
      </button>

      <%= link_to t("events.buttons.discard"), root_path, class: "btn btn-discard" %>

      <% if is_edit_form? action_name %>
        <%#= link_to t("events.buttons.delete"), "javascript:void()",
          id: "btn-delete-event",
          class: "text-danger btn btn-discard",
          "data-event-id": @event.id %>
      <% end %>
    </div>

    <div class="col-md-6 col-xs-12 main-event-form">
      <div class="form-group">
        <%= f.label :title, t("events.labels.title") %>
        <%= f.text_field :title, placeholder: t("events.placeholder.new_event"),
          autofocus: true, required: true, class: "form-control" %>
      </div>
      <div class="form-group datetime" id="dateTime">
        <%= hidden_field_tag :start_time_before_change, value: @event.start_date %>
        <%= hidden_field_tag :finish_time_before_change, value: @event.finish_date %>

        <%= f.hidden_field :start_date %>
        <%= f.hidden_field :finish_date %>
        <%= text_field_tag :start_date,
          datetime_format(@event.start_date, "short_date"), required: true,
          class: "date start form-control fix-width-date date-time",
          placeholder: datetime_format(Time.zone.now, "short_date") %>
        <%= text_field_tag :start_time,
          datetime_format(@event.start_date, "short_time"), required: true,
          class: "time start form-control fix-width-time date-time",
          placeholder: datetime_format(Time.zone.now, "short_time") %>
        <span>&nbsp;&nbsp;&nbsp;<%= t "events.labels.to" %>&nbsp;&nbsp;&nbsp;</span>
        <%= text_field_tag :finish_time,
          datetime_format(@event.finish_date, "short_time"), required: true,
          class: "time finish form-control fix-width-time date-time",
          placeholder: datetime_format(Time.zone.now + 30.minutes, "short_time") %>
        <%= text_field_tag :finish_date,
          datetime_format(@event.finish_date, "short_date"), required: true,
          class: "date finish form-control fix-width-date date-time",
          placeholder: datetime_format(Time.zone.now, "short_date") %>
      </div>

      <div class="form-group" id="checkox-new-event">
        <div class="all-day">
          <%= f.label :all_day do %>
            <%= f.check_box :all_day, {checked: @event.all_day?}, 1, 0 %> <%= t ".all_day" %>
          <% end %>
        </div>
        <div class="cb-repeat first <%= "repeat-on" if @event.exist_repeat? %>">
          <%= label_tag :repeat do %>
            <%= check_box_tag :repeat %> <%= t ".repeat" %>
            <span class="edit-repeat">
              <%= link_to "javascript:void(0)", class: "dialog-repeat-event" do %>
                <i class="fa fa-pencil" aria-hidden="true"></i> <%= t "events.links.edit" %>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>

      <div class="form-group" id="calendar">
        <%= f.label :calendar_id, t("events.labels.calendar") %>
        <%= f.collection_select :calendar_id, @calendars, :id, :name, {},
          selected: @event.calendar.try(:id), class: "form-control" %>
      </div>

      <div class="form-group">
        <label for="load-attendee"><%= t "calendar.attendee" %></label>

        <div class="row">
          <div class="col-md-9 col-xs-12">
            <div class="input-group">
              <input type="text" class="form-control attendee-email" name="term", placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-primary add-attendee" type="button">
                  <i class="fa fa-plus" aria-hidden="true"></i> <%= t(".add") %>
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9 col-xs-12" id="list-attendee">
            <% @event.attendees.each do |attendee| %>
              <%= render "attendee", email: attendee.email %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, t("events.labels.description") %>
        <%= f.text_area :description, class: "form-control", placeholder: t(".description") %>
      </div>

      <div class="form-group">
        <p><%= f.label :notifications %> </p>
        <div class="notify">
          <%= f.fields_for :notification_events do |ntbuilder| %>
            <p>
              <%= ntbuilder.hidden_field :notification_id %>
              <%= ntbuilder.label :_destroy do %>
                <%= ntbuilder.check_box :_destroy,
                  {checked: ntbuilder.object.persisted?}, false, true %>
                <%= ntbuilder.object.notification_type %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <%= f.hidden_field :exception_type, class: "exception_type" %>
    <div id="dialog-notification" class="text-warning" title="<%= t 'events.dialog_notification.title' %>">
    </div>
    <%= render "events/dialog_repeat_form", f: f %>

    <%= confirm_popup_repeat_events t("events.repeat_dialog.edit") %>
    <%= confirm_popup_repeat_events t("events.repeat_dialog.delete") %>
  <% end %>
</div>

<%= javascript_include_tag "event" %>
