<div class="note-invite col-md-6 col-xs-12">
  <h2>
    <%= t "invitations.edit.invite", member: @user.name, organization: @org.name %>
  </h2>

  <hr />

  <% if @user_org.present? %>
    <p><%= t "invitations.edit.content" %></p>
    <%= form_for @user_org,
      url: organization_invitations_path(@org, id: @user_org.id) do |f| %>
      <%= f.hidden_field :id, value: @user_org.id %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.submit t("invitations.edit.send_invite_again"),  class: "btn btn-success" %>
      <%= link_to "Cancel",
        organization_invitations_path(@org, id: @user_org.id),
        method: :delete,
        data: {confirm: "Are you sure"}, class: "btn btn-danger pull-right" %>
    <% end %>
  <% else %>
    <p><%= t "invitations.edit.content" %></p>

    <%= form_for UserOrganization.new,
      url: organization_invitations_path(organization_id: @org.slug) do |f| %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.submit t("invitations.edit.send_invite"),  class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>
