<%= render partial: "shared/control_action", locals: {f: nil, partials: []} %>

<div class="tbl-object">
  <%= image_tag @org.logo_url, class: "avatar tbl-item" %>
  <div class="tbl-item tbl-item-primary infor-organization">
    <h1 class="org-name">
      <%= @org.name %>
    </h1>
    <%= link_to edit_organization_path(@org), class:"btn-edit-organization" do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
  </div>
</div>

<div class="tabs">
  <ul class="nav nav-tabs" id="invitation-tabs">
    <li>
      <a href="<%= organization_path(@org) %>#calendars">
        <%= t ".calendars" %>
      </a>
    </li>
    <li class="active">
      <a href="<%= organization_path(@org) %>#members">
        <%= t ".members" %>
      </a>
    </li>
    <li>
      <a href="<%= organization_path(@org) %>#activities">
        <%= t ".activities" %>
      </a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div class="tab" id="members">
    <div class="member">
      <%= render "invite_member" %>
    </div>
  </div>
</div>
